<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <style>
        button {
            transition-duration: 0.4s;
            background-color: #4CAF50; /* Green */
            color: white;
          }
          .para
          {
              color: darksalmon;
            font: message-box ;
            font-variant-caps: titling-caps;
            font-family: sans-serif;
                     
          }
        
         

    </style> 
    <link rel="stylesheet" href="{% static 'museum/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Out</title>
</head>
<body>
    <centre>
        <h2>
            You have been logged out successfully!! 
        </h2>
        <h3>
            To return to home page click>><button class="button" onclick="location.href=' index'" type="button">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
        </h3>
    </centre>
</body>\
</html>